@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #232323;
    --secondary-color: #EFEFEF;
    --blue-color: #2A52BE;
    /* --orange-color: #F87C56; */
    font-family: 'Manrope', sans-serif;
}

.font-montserat {
    font-family: 'Montserrat', sans-serif;
}

.font-manrope {
    font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #606060;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    transition: all 0.3s ease-in-out;
    background: rgb(182, 182, 182);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
  }